[submodule "vendor/github.com/RichardKnop/machinery"]
	path = vendor/github.com/RichardKnop/machinery
	url = git@github.com:RichardKnop/machinery.git
[submodule "vendor/github.com/urfave"]
	path = vendor/github.com/urfave
	url = git://github.com/urfave/cli.git
